body	{
	text-align: left;
	font-family: 'Candal', sans-serif;
	background-color: #B0C4DE;
	color: #483D8B;
}

h1	{
	text-transform: uppercase; 
	font-weight: 900;
	font-size: 36px;
	text-align: center;
}

#slogan {
		font-style: italic;
		font-weight: 600;
		font-size: 22px;
		text-align: center;
}
